<% var site_title = config.title.replace(/\$name/ig, config.name) %>
<% var spin = ['browsing', 'looking', 'searching'] %>
<!DOCTYPE HTML>
<html>
<head>
	<title><%= subject %>.pdf | <%= host %></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!--[if lte IE 8]><script src="<%= baseURL %>/<%= config.template %>/js/html5shiv.js"></script><![endif]-->
	<script type="text/javascript">var template = '<%= baseURL %>/<%= config.template %>/'</script>
	<script src="<%= baseURL %>/<%= config.template %>/js/jquery.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/skel.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/skel-layers.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/skel.css" />
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/style.css" />
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/style-xlarge.css" />
	</noscript>
</head>
<body id="top">

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1><a href="#"><%= site_title %></a></h1>
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#" class="button special">Sign Up</a></li>
			</ul>
		</nav>
	</header>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2><%= site_title %></h2>
		</div>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style1">
		<header class="major">
			<h2><%= subject %>.PDF</h2>
			<p><%= uniqueCode %> | PDF : <%= fakeTotalPage %> | File Size  <%= fileSize %> | <%= uniqueDate %></p>
		</header>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2">
		<div class="container">
			<div class="row">
				<div class="12u">
					<section class="special" style="text-align:left">
						<p>Are you <%= spin[title.length%3] %> for <%= subject %> Books? Now, you will be happy that at this time <%= subject %> PDF is available at our online library. With our complete resources, you could find <%= subject %> PDF or just found any kind of Books for your readings everyday.</p>
						<p>You could find and download any books you like and save it into your disk without any problem at all. There's a lot of books, user manual, or guidebook that related to <%= subject %> PDF, such as</p>
						<p> Here is The Download Access For <strong><%= subject %></strong>, Click Link Below to Download or Read Online:</p>

						<center><a href="<%= utils.landingPageURL(baseURL, config, subject) %>" class="button special big">Download <%= subject %>.PDF</a></center>
					</section>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<div class="row double">
				<div class="6u">
					<div class="row collapse-at-2">
						<div class="6u">
							<h3>Accumsan</h3>
							<ul class="alt">
								<li><a href="#">Nascetur nunc varius</a></li>
								<li><a href="#">Vis faucibus sed tempor</a></li>
								<li><a href="#">Massa amet lobortis vel</a></li>
								<li><a href="#">Nascetur nunc varius</a></li>
							</ul>
						</div>
						<div class="6u">
							<h3>Faucibus</h3>
							<ul class="alt">
								<li><a href="#">Nascetur nunc varius</a></li>
								<li><a href="#">Vis faucibus sed tempor</a></li>
								<li><a href="#">Massa amet lobortis vel</a></li>
								<li><a href="#">Nascetur nunc varius</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="6u">
					<h2>Aliquam Interdum</h2>
					<p>Blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan justo aliquet.</p>
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
					</ul>
				</div>
			</div>

			<center><%- utils.sitemapFooterBlock(config) %></center>

			<ul class="copyright">
				<li>&copy; <%= site_title %>. All rights reserved.</li>
			</ul>
		</div>
	</footer>
	<%- utils.histats(config) %>
</body>
</html>