<% var site_title = config.title.replace(/\$name/ig, config.name) %>
<% var spin = ['browsing', 'looking', 'searching'] %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= subject %>.pdf | <%= host %></title>
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="<%= baseURL %>/<%= config.template %>/default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="<%= baseURL %>/<%= config.template %>/fonts.css" rel="stylesheet" type="text/css" media="all" />

	<!--[if IE 6]><link href="<%= baseURL %>/<%= config.template %>/default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#"><%= site_title %></a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
					<li><a href="#" accesskey="2" title="">Our Clients</a></li>
					<li><a href="#" accesskey="3" title="">About Us</a></li>
					<li><a href="#" accesskey="4" title="">Careers</a></li>
					<li><a href="#" accesskey="5" title="">Contact Us</a></li>
				</ul>
			</div>
		</div>
		<div id="header-featured">
			<div id="banner-wrapper">
				<div id="banner" class="container">
					<h2><%= site_title %></h2>
				</div>
			</div>
		</div>
	</div>
	<div id="wrapper">
		<div id="page" class="container">
			<div id="content">
				<div class="title">
					<h2><%= subject %></h2>
					<span class="byline"><%= uniqueCode %> | PDF : <%= fakeTotalPage %> | File Size  <%= fileSize %> | <%= uniqueDate %></span>
					<p><strong><%= subject %>.PDF</strong> - Are you <%= spin[title.length%3] %> for <%= subject %> Books? Now, you will be happy that at this time <%= subject %> PDF is available at our online library. With our complete resources, you could find <%= subject %> PDF or just found any kind of Books for your readings everyday.</p>

					<p>You could find and download any books you like and save it into your disk without any problem at all. There's a lot of books, user manual, or guidebook that related to <%= subject %> PDF, such as</p>

					<p> Here is The Download Access For <strong><%= subject %></strong>, Click Link Below to Download or Read Online:<br/> </p>

					<center><a href="<%= utils.landingPageURL(baseURL, config, subject) %>" class="button special big">Download <%= subject %>.PDF</a></center>
				</div>
			</div>
			<div id="sidebar">
				<div id="stwo-col">
					<div class="sbox1">
						<h2>Etiam rhoncus</h2>
						<ul class="style2">
							<li><a href="#">Semper quis egetmi dolore</a></li>
							<li><a href="#">Quam turpis feugiat dolor</a></li>
							<li><a href="#">Amet ornare hendrerit lectus</a></li>
							<li><a href="#">Quam turpis feugiat dolor</a></li>
						</ul>
					</div>
					<div class="sbox2">
						<h2>Integer gravida</h2>
						<ul class="style2">
							<li><a href="#">Semper quis egetmi dolore</a></li>
							<li><a href="#">Quam turpis feugiat dolor</a></li>
							<li><a href="#">Consequat lorem phasellus</a></li>
							<li><a href="#">Amet turpis feugiat amet</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="copyright" class="container">
		<center><%- utils.sitemapFooterBlock(config) %></center>
		<br />
		<p>&copy; <%= site_title %>
			. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
		</div>
		<%- utils.histats(config) %>
	</body>
	</html>
