<% var site_title = config.title.replace(/\$name/ig, config.name) %>
<% var spin = ['browsing', 'looking', 'searching'] %>
<!DOCTYPE HTML>
<html>
    <head>
        <title><%= subject %>.pdf | <%= host %></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <!--[if lte IE 8]><script src="<%= baseURL %>/<%= config.template %>/js/html5shiv.js"></script><![endif]-->
        <script>var template = '<%= baseURL %>/<%= config.template %>/'</script>
        <script src="<%= baseURL %>/<%= config.template %>/js/jquery.min.js"></script>
        <script src="<%= baseURL %>/<%= config.template %>/js/skel.min.js"></script>
        <script src="<%= baseURL %>/<%= config.template %>/js/skel-layers.min.js"></script>
        <script src="<%= baseURL %>/<%= config.template %>/js/init.js"></script>
        <noscript>
            <link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/skel.css" />
            <link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/style.css" />
            <link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/style-xlarge.css" />
        </noscript>
    </head>
    <body class="landing">

        <!-- Header -->
            <header id="header" class="alt">
                <h1><strong><a href="<%= baseURL %>"><%= subject %></a></strong> by <%= fakeAuthor %></h1>
            </header>

        <!-- Banner -->
            <section id="banner">
                <h2><%= subject %>.PDF</h2>
                <p><%= uniqueCode %> | PDF : <%= fakeTotalPage %> | File Size  <%= fileSize %> | <%= uniqueDate %></p>
            </section>

            <section id="two" class="wrapper style2 special">
                <div class="container" style="text-align:left">
                    <h2><%= subject %></h2>
                    <p><strong><%= subject %>.PDF</strong> - Are you <%= spin[title.length%3] %> for <%= subject %> Books? Now, you will be happy that  at this time <%= subject %> PDF is available at our online library. With our complete resources, you could find <%= subject %> PDF or just found any kind of Books for your readings everyday.</p>

                    <p>You could find and download any books you like and save it into your disk without any problem at all. There's a lot of books, user manual, or guidebook that related to <%= subject %> PDF, such as.</p>

                    <p>Here is The Download Access For <strong><%= subject %></strong>, Click Link Below to Download or Read Online:<br/>
                    </p>

                    <center><a href="<%= utils.landingPageURL(baseURL, config, subject) %>" class="button special big">Download <%= subject %>.PDF</a></center>
                </div>
            </section>

        <!-- Footer -->
            <footer id="footer">
                <div class="container">
                    <ul class="icons">
                        <li><a href="#" class="icon fa-facebook"></a></li>
                        <li><a href="#" class="icon fa-twitter"></a></li>
                        <li><a href="#" class="icon fa-instagram"></a></li>
                    </ul>
                    <ul class="copyright">
                    <%- utils.sitemapFooterBlock(config) %>
                    </ul>
                    <ul class="copyright">
                        <li>&copy; <%= site_title %></li>
                    </ul>
                </div>
            </footer>
      <%- utils.histats(config) %>
    </body>
</html>