<% var site_title = config.title.replace(/\$name/ig, config.name) %>
<% var spin = ['browsing', 'looking', 'searching'] %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= subject %>.pdf | <%= host %></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!--[if lte IE 8]><script src="<%= baseURL %>/<%= config.template %>/css/ie/html5shiv.js"></script><![endif]-->
	<style>.white a{color:white}</style>
	<script type="text/javascript">var template = '<%= baseURL %>/<%= config.template %>/'</script>
	<script src="<%= baseURL %>/<%= config.template %>/js/jquery.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/skel.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/skel-layers.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/skel.css" />
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/style.css" />
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/style-xlarge.css" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/ie/v8.css" /><![endif]-->
</head>
<body class="landing">

	<!-- Header -->
	<header id="header">
		<h1><a href="index.html"><%= site_title %></a></h1>
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
			</ul>
		</nav>
	</header>

	<!-- Banner -->
	<section id="banner">
		<h2><%= subject %></h2>
		<p><%= uniqueCode %> | PDF : <%= fakeTotalPage %> | File Size  <%= fileSize %> | <%= uniqueDate %></p>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2 align-center">
		<div class="container">
			<header>
				<h2><%= subject %></h2>
			</header>
			<div class="row">
				<section class="feature 12u 12u$(small)">
					<p><%= subject %>.PDF - Are you <%= spin[title.length%3] %> for <%= subject %> Books? Now, you will be happy that at this time <%= subject %> PDF is available at our online library. With our complete resources, you could find <%= subject %> PDF or just found any kind of Books for your readings everyday.</p>

					<p>You could find and download any books you like and save it into your disk without any problem at all. There's a lot of books, user manual, or guidebook that related to <%= subject %> PDF, such as</p>

					<p>Here is The Download Access For <strong><%= subject %></strong>, Click Link Below to Download or Read Online:<br/>
					</p>
				</section>
			</div>
			<footer>
				<ul class="actions">
					<li>
						<a href="<%= utils.landingPageURL(baseURL, config, subject) %>" class="button alt big">Download <%= subject %>.PDF</a>
					</li>
				</ul>
			</footer>
		</div>
	</section>


	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<section class="4u 6u(medium) 12u$(small)">
					<h3>Lorem ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
					<ul class="alt">
						<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
						<li><a href="#">Quod adipisci perferendis et itaque.</a></li>
						<li><a href="#">Itaque eveniet ullam, veritatis reiciendis?</a></li>
						<li><a href="#">Accusantium repellat accusamus a, soluta.</a></li>
					</ul>
				</section>
				<section class="4u 6u$(medium) 12u$(small)">
					<h3>Nostrum, repellat!</h3>
					<p>Tenetur voluptate exercitationem eius tempora! Obcaecati suscipit, soluta earum blanditiis.</p>
					<ul class="alt">
						<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
						<li><a href="#">Id inventore, qui necessitatibus sunt.</a></li>
						<li><a href="#">Deleniti eum odit nostrum eveniet.</a></li>
						<li><a href="#">Illum consectetur quibusdam eos corporis.</a></li>
					</ul>
				</section>
				<section class="4u$ 12u$(medium) 12u$(small)">
					<h3>Contact Us</h3>
					<ul class="icons">
						<li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>
						<li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
					</ul>
					<ul class="tabular">
						<li>
							<h3>Address</h3>
							1234 Somewhere Road<br>
							Nashville, TN 00000
						</li>
						<li>
							<h3>Mail</h3>
							<a href="#">someone@untitled.tld</a>
						</li>
						<li>
							<h3>Phone</h3>
							(000) 000-0000
						</li>
					</ul>
				</section>
			</div>
			<center><%- utils.sitemapFooterBlock(config) %></center>
			<ul class="copyright">
				<li>&copy; <%= site_title %>. All rights reserved.</li>
			</ul>
		</div>
	</footer>
	<%- utils.histats(config) %>
</body>
</html>