<% var site_title = config.title.replace(/\$name/ig, config.name) %>
<% var url_domain = baseURL %>
<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="HandheldFriendly" content="True">
	<title>Contact - <%= site_title %></title>
	<meta name="description" content="Free Pdf File, Electronic Books, Novels, Instruction Manuals, Microsoft Documents to Downloads"/>
	<meta name="keywords" content="Contact - <%= site_title %>"/>
	<link rel="canonical" href="<%= url_domain %>/contact.html" />
</head>

<body>
<h1>Contact Us</h1>
<p>Don't hesitate to us to report DMCA documents.</p>
<iframe src="<%= config.contact_form %>?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
<%- utils.histats(config) %>
</body>
</html>