<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Downloading File <%= title %>.PDF</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css" rel="stylesheet" type="text/css" />
<noscript>
<meta http-equiv="refresh" content="5; url=<%= redirURL %>">
</noscript>
<style>.large{font-size:22px;line-height:30px}</style>
</head>

<body style="height:100vh;background:#c7c7c7">
<div class="uk-flex uk-flex-middle" style="height:100vh">
<div class="large uk-panel uk-panel-box uk-panel-box-primary uk-width-1-2 uk-container-center uk-text-center">
	<div style="color:#cc0000">Well done document
		<br />
		<i class="uk-icon-file-pdf-o"></i><strong> &quot;<%= title %>&quot;.PDF</strong>
		<br />
	</div>
	<small style="font-size:14px"><i class="uk-icon-refresh uk-icon-spin"></i> to be ready in <span id="countdown">3</span>s</small>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
(function ($) {
	$(document).ready(function () {
		var countdown = $('#countdown');
		var timer = parseInt(countdown.text());
		window.interval = setInterval(function () {
			if (timer === 0) {
				clearInterval(window.interval);
				window.location.href = '<%= redirURL %>';
			};

			countdown.html(timer);
			timer--;
		}, 1000);
	});
})(jQuery)
</script>
<%- utils.histats(config) %>
</body>
</html>