<% var site_title = config.title.replace(/\$name/ig, config.name) %>
<% var url_domain = baseURL %>
<% var url_contact = baseURL + '/contact.html' %>
<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="HandheldFriendly" content="True">
	<title>DMCA Policy - <%= site_title %></title>
	<meta name="description" content="Free Pdf File, Electronic Books, Novels, Instruction Manuals, Microsoft Documents to Downloads"/>
	<meta name="keywords" content="DMCA Policy - <%= site_title %>"/>
	<link rel="canonical" href="<%= url_domain %>/dmca.html" />
</head>

<body>
<div>
  <div>
    <div>
      <h2>Top Rated 100% Free e-Books, Manuals, Novels and More.</h2>
    </div>
  </div>
</div>
<div>
  <div>
    <h1><strong>DMCA Policy</strong></h1>
    <div>
      <p><strong>Notification of Copyright Infringement</strong></p>
      <p>We respect the intellectual property rights of others and expects our users to do the same. In accordance with the Digital Millennium Copyright Act of 1998, the text of which may be found on the U.S. Copyright Office website at <a title="DMCA" href="http://www.copyright.gov/legislation/dmca.pdf" target="_blank" rel="nofollow">http://www.copyright.gov/legislation/dmca.pdf</a>, we will respond expeditiously to claims of copyright infringement committed using our service that are reported to our Designated Copyright Agent identified in the sample notice below.</p>
      <p>If you are a copyright owner, or are authorized to act on behalf of one or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through the site and service (collectively the &ldquo;Service&rdquo;) by completing the following DMCA Notice of Alleged Infringement and delivering it to our Designated Copyright Agent.</p>
      <p>Upon receipt of Notice as described below, our Designated Copyright Agent will take whatever action, in its sole discretion, it deems appropriate, including removal of the challenged use from the Service and/or termination of the user&rsquo;s account in appropriate circumstances.</p>
      <p><strong>DMCA Notice of Alleged Infringement (&ldquo;Notice&rdquo;)</strong></p>
      <ol>
        <li>Identify the copyrighted work that you claim has been infringed, or &ndash; if multiple copyrighted works are covered by this Notice &ndash; you may provide a representative list of the copyrighted works that you claim have been infringed.</li>
        <li>Identify the material or link you claim is infringing (or the subject of infringing activity) and that access to which is to be disabled, including at a minimum, if applicable, the URL of the link shown on the Service where such material may be found.</li>
        <li>Provide your mailing address, telephone number, and, if available, email address.</li>
        <li>Include both of the following statements in the body of the Notice:
            <ul>
              <li>&ldquo;I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use).&rdquo;</li>
              <li>&ldquo;I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed.&rdquo;</li>
            </ul>
        </li>
        <li>Provide your full legal name and your electronic or physical signature.</li>
      </ol>
      <ul>
        <li>Deliver this Notice, with all items completed, to our Designated Copyright Agent:<br>
            <blockquote>
              <p>Copyright Agent<br>
                c/o <%= site_title %><br>
                a/n <%= config.name %><br>
                <a href="<%= url_domain %>/contact.html"><%= url_domain %>/contact.html</a></p>
            </blockquote>
        </li>
      </ul>
      <p><strong>Counter Notices</strong></p>
      <p>One who has posted material that allegedly infringes a copyright may send our Designated Copyright Agent a counter notice pursuant to Sections 512(g)(2) and 512(g)(3) of the DMCA. When our Designated Copyright Agent receives a counter notice, it may in its discretion reinstate the material in question in not less than 10 nor more than 14 days after it receives the counter notice unless it first receive notice from the copyright claimant that they have filed a legal action to restrain the allegedly infringing activity.</p>
      <p>To provide a counter notice to our Designated Copyright Agent, please return the following form to the Designated Copyright Agent. Please note that if you provide a counter notice, in accordance with the our Privacy Policy (located at the site) and the terms of the DMCA, the counter notice will be given to the complaining party.</p>
      <p><strong>COUNTER NOTICE</strong></p>
      <ol>
        <li>Identification of the material that has been removed or to which access has been disabled on the service and the location at which the material appeared before it was removed or access to it was disabled:</li>
        <li>I hereby state under penalty of perjury that I have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled.</li>
        <li>Your name, address, telephone number and, if available, email address:</li>
        <li>I hereby state that I consent to the jurisdiction of the Federal District Court for the judicial district in which my address is located or, if my address is outside of the United States, for any judicial district in which we may be found, and I will accept service of process from the complaining party who notified us of the alleged infringement or an agent of such person.</li>
        <li>Your physical or electronic signature (full legal name):____________________________</li>
      </ol>
      <p>The Counter Notice should be delivered to our Designated Copyright Agent:</p>
      <blockquote>
        <p>Copyright Agent<br>
          c/o <%= site_title %><br>
          a/n <%= config.name %><br>
          <a href="<%= url_domain %>/contact.html"><%= url_domain %>/contact.html</a></p>
      </blockquote>
      <p><strong>Notification of Trademark Infringement</strong></p>
      <p>If you believe that your trademark (the &ldquo;Mark&rdquo;) is being used by a user in a way that constitutes trademark infringement, please provide our Designated Copyright Agent (specified above) with the following information:</p>
      <ol>
        <li>Your physical or electronic signature, or a physical or electronic signature of a person authorized to act on your behalf;</li>
        <li>Information reasonably sufficient to permit it to contact you or your authorized agent, including a name, address, telephone number and, if available, an email address;</li>
        <li>Identification of the Mark(s) alleged to have been infringed, including
            <ol>
              <li>for registered Marks, a copy of each relevant federal trademark registration certificate or</li>
              <li>for common law or other Marks, evidence sufficient to establish your claimed rights in the Mark, including the nature of your use of the Mark, and the time period and geographic area in which the Mark has been used by you;</li>
            </ol>
        </li>
        <li>Information reasonably sufficient to permit our Designated Copyright Agent to identify the use being challenged;</li>
        <li>A statement that you have not authorized the challenged use, and that you have a good-faith belief that the challenged use is not authorized by law; and</li>
        <li>A statement under penalty of perjury that all of the information in the notification is accurate and that you are the Mark owner, or are authorized to act on behalf of the Mark owner.</li>
      </ol>
      <p>Upon receipt of notice as described above, our Designated Copyright Agent will seek to confirm the existence of the Mark on the Service, notify the registered user who posted the content including the Mark, and take whatever action, in its sole discretion, it deems appropriate, including temporary or permanent removal of the Mark from the Service.</p>
      <p>A registered user may respond to notice of takedown by showing either (a) that the Mark has been cancelled, or has expired or lapsed or (b) that the registered user has a trademark registration, an unexpired license covering the use, or some other relevant right to the Mark, or (c) that the use is for other reasons shown by the registered user non-infringing. If the registered user makes an appropriate showing of either (a), (b) or (c) then our Designated Copyright Agent may exercise its discretion not to remove the Mark.</p>
      <p>If our Designated Copyright Agent decides to comply with a takedown request, it will do so within a reasonably expeditious period of time. Notwithstanding the foregoing, our Designated Copyright Agent will comply as appropriate with the terms of any court order relating to alleged trademark infringement on the Service.</p>
      <p><strong>Notification of Other Intellectual Property (&ldquo;IP&rdquo;) Infringement</strong></p>
      <p>If you believe that some other IP right of yours is being infringed by a user, please provide our Designated Copyright Agent (specified above) with the following information:</p>
      <ol>
        <li>Your physical or electronic signature, or a physical or electronic signature of a person authorized to act on your behalf;</li>
        <li>Information reasonably sufficient to permit our Designated Copyright Agent to contact you or your authorized agent, including a name, address, telephone number and, if available, an email address;</li>
        <li>Identification of the IP alleged to have been infringed, including (i) a complete description or explanation of the nature of the IP, (ii) evidence that you own the IP in the relevant jurisdiction, including copies of relevant patents, registrations, certifications or other documentary evidence of your ownership, and (iii) a showing sufficient for our Designated Copyright Agent to determine without unreasonable effort that the IP has been infringed;</li>
        <li>Information reasonably sufficient to permit our Designated Copyright Agent to identify the use being challenged;</li>
        <li>A statement that you have not authorized the challenged use, and that you have a good-faith belief that the challenged use is not authorized by law; and</li>
        <li>A statement under penalty of perjury that all of the information in the notification is accurate and, that you are the IP owner, or are authorized to act on behalf of the IP owner.</li>
      </ol>
      <p>Upon receipt of notice as described above, our Designated Copyright Agent will seek to confirm the existence of the IP on the Service, notify the registered user who posted the content including the IP, and take whatever action, in its sole discretion, it deems appropriate, including temporary or permanent removal of the IP from the Service.</p>
      <p>A registered user may respond to notice of takedown by showing either (a) that the claimant does not own the IP or (b) that the IP is not infringed. If the registered user succeeds in showing either (a), (b) or (c) then our Designated Copyright Agent may exercise its discretion not to remove the IP.</p>
      <p>If our Designated Copyright Agent decides to comply with a takedown request, it will do so within a reasonably expeditious period of time.</p>
      <p><strong>We Have No Obligation to Adjudicate IP Claims &ndash; User&rsquo;s Agreement to Hold Us Harmless From Claims</strong></p>
      <p>Claimants and users must understand that we are not an intellectual property tribunal. While we and our Designated Copyright Agent may in our discretion use the information provided in order to decide how to respond to infringement claims, we are not responsible for determining the merits of such claims. If a user responds to a claim of infringement by providing assurances that its content is not infringing, the user agrees that if we thereafter restore or maintain the content, the user will defend and hold us harmless from any resulting claims of infringement brought against us and our Designated Copyright Agent.</p>
      <p><a href="<%= url_domain %>" title="Top Rated 100% Free e-Books, Manuals, Novels and More."><%= site_title %></a> &copy; <%= year %></p>
    </div>
  </div>
</div>
<%- utils.histats(config) %>
</body>
</html>