<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>404 Error</title>
    <meta name="viewport" content="width=device-width" />
    <style>@font-face{
  font-family:"Avenir Next W01";
  font-weight: 700;
  src: font-url("avenir_next-demi.eot?#iefix");
  src: font-url("avenir_next-demi.eot?#iefix") format("eot"),
       font-url("avenir_next-demi.woff2") format("woff2"),
       font-url("avenir_next-demi.woff") format("woff"),
       font-url("avenir_next-demi.ttf") format("truetype"),
       font-url("avenir_next-demi.svg#avenir-demi") format("svg");
}

html, body {
  height: 100%;
}

body {
  color: #333;
  text-align: left;
  font-family: "Avenir Next W01", "Avenir Next", "Avenir", helvetica, arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: -10%;
}

.message {
  text-align: center;
  margin: 0 auto;
  font-size: 48px;
  max-width: 85%;
  position: relative;
}

.error-image {
  max-width: 70%;
}

@media only screen and (max-device-width: 667px) {
  .error-image {
    max-width: 100%;
  }
}

h1 {
  font-size: 36px;
}

h1 + a {
  font-size: 30px;
}

h1 + a,
h1 + a:link,
h1 + a:visited {
  color: #0099ff;
  text-decoration: none;
}

h1 + a {
  font-weight: bold;
}

h2 {
  margin-top: 1.5em;
  font-size: 18px;
}

@media only screen and (max-device-width: 667px) {
  h1 {
    font-size: 24px;
  }
  
  h1 + a {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
    font-weight: normal;
  }
}</style>
  </head>

  <body>
    <div class="container">
      <div class="message">
        <a href="/">
<svg width="365" height="360" viewBox="0 0 365 360" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M71.333 72.108S3.475-1.522.2.024c-3.275 1.546 46.2 86.94 46.2 86.94" id="a"/><path d="M71.333 72.108S3.475-1.522.2.024c-3.275 1.546 46.2 86.94 46.2 86.94" id="c"/><path d="M71.333 72.108S3.475-1.522.2.024c-3.275 1.546 46.2 86.94 46.2 86.94" id="e"/></defs><g fill="none" fill-rule="evenodd"><path d="M77.333 72.108S9.475-1.522 6.2.024c-3.275 1.546 46.2 86.94 46.2 86.94" fill="#E43"/><g transform="translate(6)"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path d="M26.484 61.637c-3.026-8.104-1.415-41.471 11.228-30.429" stroke="#FFF" mask="url(#b)"/></g><g transform="translate(6)"><mask id="d" fill="#fff"><use xlink:href="#c"/></mask><path d="M34.387 77.942c1.248-8.557 2.409-42.986 17.463-34.461" stroke="#FFF" mask="url(#d)"/></g><g transform="translate(6)"><mask id="f" fill="#fff"><use xlink:href="#e"/></mask><path d="M46.897 92.625c1.248-8.558 2.411-42.987 17.464-34.461" stroke="#FFF" mask="url(#f)"/></g><path d="M283.536 137.439c8.303-10.925 33.123-17.216 48.965-5.26 15.842 11.956 24.482 27.474 24.482 40.041 0 12.567-22.562 26.827-22.562 38.349 0 11.522 18.242 26.259 30.244 0 4.8 29.696-43.205 31.52-62.408 0-19.202-31.521-21.236-69.82-18.721-73.13zM254.252 330.177c6.354 0 9.477-3.695 11.744-13.702h-21.318c2.01 8.269 4.924 13.702 9.574 13.702zM289.776 329.698c2.714 0 4.801-3.633 6.46-9.622H281.3c2.065 6.399 4.698 9.622 8.476 9.622zM127.039 353.421c3.376 0 5.464-5.422 6.7-13.539h-15.844c2.897 8.19 5.994 13.539 9.144 13.539zM82.874 360c8.641 0 9.875-11.723 10.959-23.205H70.166C71.044 347.426 74.008 360 82.874 360z" fill="#333"/><path d="M274.414 132.657c-53.285 0-136.333 6.695-136.333 6.695s.48-86.563-23.043-84.65c2.968-7.052 1.439-38.711-6.792-38.432-6.651.225-12.914 20.265-12.41 26.844-7.682-15.195-17.763-23.324-22.084-18.542-4.32 4.782-3.839 24.391 9.602 39.216C48.311 81.961 0 105.397 0 117.831c0 12.436 17.164 11 59.889 11 0 0 9.595 192.564 10.024 203.737.051 1.347.133 2.769.253 4.227h23.667c.18-1.913.356-3.818.561-5.662 1.441-12.912 6.721-75.085 6.721-75.085s7.318 57.08 16.779 83.834h15.844c3.681-24.196-.221-72.356-.221-72.356s81.37 1.914 104.413-8.13c2.462 18.401 3.153 42.294 6.747 57.08h21.318c2.361-10.403 3.797-27.629 6.979-54.689 3.001 28.108 4.877 47.617 8.325 58.291h14.937c4.501-16.257 5.838-49.91 7.941-75.661 2.881-35.24 23.522-111.76-29.763-111.76z" fill="#09F"/><ellipse fill="#333" cx="133.278" cy="61.637" rx="14.162" ry="14.108"/><ellipse fill="#333" cx="143.321" cy="83.979" rx="16.282" ry="16.221"/><ellipse fill="#333" cx="147.439" cy="114.045" rx="16.281" ry="16.221"/><path d="M145.276 137.88c0-8.959 7.289-16.22 16.281-16.22 8.992 0 16.282 7.261 16.282 16.22" fill="#333"/><path d="M173.327 139.479c0-8.111 6.601-14.687 14.741-14.687 8.144 0 14.744 6.575 14.744 14.687" fill="#333"/><ellipse fill="#333" cx="207.032" cy="135.445" rx="9.684" ry="9.646"/><path d="M207.031 145.091s-48.789 9.567-68.951-5.739c-20.162-15.305-18.964-77.715-18.964-77.715l26.16 55.716 21.127 14.396h22.726l17.902 13.342z" fill="#333"/><path fill="#333" d="M127.039 83.979h26.299v26.2h-26.299zM121.989 67.758h13.98v13.926h-13.98z"/><g stroke="#333" stroke-width="2"><path d="M96.82 85.302a16.059 16.059 0 0 1-13.906 7.997 16.059 16.059 0 0 1-13.906-7.997M74.385 90.847l-4.024 6.392M79.791 93.299l-1.388 7.104M85.724 93.046l1.325 7.427M91.223 90.984l3.921 6.454"/></g><path d="M201.26 198.986c1.159 27.026 12.679 55.111 71.715 62.799M131.844 293.552c0 6.35-5.167 11.498-11.542 11.498-5.099 0-9.232-4.12-9.232-9.199 0-4.063 3.307-7.357 7.387-7.357 3.263 0 5.909 2.635 5.909 5.886 0 2.602-2.118 4.709-4.728 4.709a3.776 3.776 0 0 1-3.783-3.768 3.02 3.02 0 0 1 3.027-3.014c1.336 0 2.42 1.08 2.42 2.412M83.551 278.22c4.767 3.709 5.611 10.566 1.887 15.314-2.978 3.798-8.482 4.472-12.297 1.504a6.966 6.966 0 0 1-1.208-9.802 5.623 5.623 0 0 1 7.872-.962 4.462 4.462 0 0 1 .774 6.274 3.602 3.602 0 0 1-5.04.615 2.856 2.856 0 0 1-.496-4.014 2.305 2.305 0 0 1 3.225-.395" stroke="#3CF"/><g stroke-width="3" stroke="#FFF"><path d="M229.986 150.1l1.043 22.676 17.897-2.597M241.107 153.735l2.955 27.869M282.896 154.254l.472 12.809 16.208-2.596M292.181 153.389l2.99 22.503"/><g><path d="M276.378 160.063c1.682 7.928-1.896 15.395-7.991 16.678-6.094 1.282-12.397-4.104-14.08-12.031-1.682-7.927 1.897-15.394 7.991-16.676 6.094-1.283 12.399 4.103 14.08 12.029zM274.533 142.099l-21.305 45.156"/></g></g><g fill="#3CF"><path d="M100.996 116.301c0 2.856-2.324 5.172-5.191 5.172-2.868 0-5.192-2.316-5.192-5.172 0-2.857 5.192-9.744 5.192-9.744s5.191 6.887 5.191 9.744zM95.805 140.84c-2.868 0-5.192-2.316-5.192-5.172 0-2.857 5.192-9.744 5.192-9.744s5.191 6.887 5.191 9.744c0 2.856-2.324 5.172-5.191 5.172z"/></g></g></svg>
        </a>
        <h1>The requested page or file does not seem to exist.</h1>
      </div>
    </div>
  </body>
</html>