User-Agent: *
<% if (config.static) { %>Disallow: <%= config.staticPathName %>privacy.html
Disallow: <%= config.staticPathName %>dmca.html
Disallow: <%= config.staticPathName %>contact.html
Allow: /
Sitemap: <%= config.staticPathName %>sitemap/index-files.xml
<% } else { %>Disallow: /privacy.html
Disallow: /dmca.html
Disallow: /contact.html
Allow: /
Sitemap: /sitemap/index-pages.xml
Sitemap: /sitemap/index-files.xml
<% } %>