<?xml version="1.0" encoding="UTF-8"?>
<% if (config.static) { %><?xml-stylesheet type="text/xsl" href="<%= config.staticPathName %>sitemap.xsl"?><% } else { %><?xml-stylesheet type="text/xsl" href="/sitemap.xsl"?><% } %>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
  <% urls.forEach(function(loc){ %>
    <url>
      <loc><%= loc %></loc>
      <lastmod><%= config.sitemap_xml.last_mod %></lastmod>
      <changefreq><%= config.sitemap_xml.freq.index %></changefreq>
      <priority><%= config.sitemap_xml.priority.index %></priority>
    </url>
  <% }); -%>
</urlset>
