<% var site_title = config.title.replace(/\$name/ig, config.name) %>
<% var spin = ['browsing', 'looking', 'searching'] %>
<!DOCTYPE HTML>
<html>
<head>
	<title><%= subject %>.pdf | <%= host %></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!--[if lte IE 8]><script src="<%= baseURL %>/<%= config.template %>/css/ie/html5shiv.js"></script><![endif]-->
	<script type="text/javascript">var template = '<%= baseURL %>/<%= config.template %>/'</script>
	<script src="<%= baseURL %>/<%= config.template %>/js/jquery.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/jquery.dropotron.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/skel.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/skel-layers.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/skel.css" />
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/style.css" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/ie/v8.css" /><![endif]-->
</head>
<body class="homepage">

	<!-- Header -->
	<div id="header">
		<div class="container">

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li>
						<a href="">Dropdown</a>
						<ul>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Magna phasellus</a></li>
							<li><a href="#">Etiam dolore nisl</a></li>
							<li>
								<a href="">Phasellus consequat</a>
								<ul>
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Phasellus consequat</a></li>
									<li><a href="#">Magna phasellus</a></li>
									<li><a href="#">Etiam dolore nisl</a></li>
									<li><a href="#">Veroeros feugiat</a></li>
								</ul>
							</li>
							<li><a href="#">Veroeros feugiat</a></li>
						</ul>
					</li>
				</ul>
			</nav>


			<!-- Banner -->
			<div id="banner">
				<div class="container">
					<section>
						<header class="major">
							<h1><%= subject %>.PDF</h1>
						</header>
					</section>			
				</div>
			</div>
		</div>
	</div>

	<!-- Main -->
	<div id="main" class="wrapper style1">
		<section class="container">
			<header class="major">
				<h2><%= subject %></h2>
				<span class="byline"><%= uniqueCode %> | PDF : <%= fakeTotalPage %> | File Size  <%= fileSize %> | <%= uniqueDate %></span>
			</header>

			<p><strong><%= subject %>.PDF</strong> - Are you <%= spin[title.length%3] %> for <%= subject %> Books? Now, you will be happy that at this time <%= subject %> PDF is available at our online library. With our complete resources, you could find <%= subject %> PDF or just found any kind of Books for your readings everyday.</p>

			<p>You could find and download any books you like and save it into your disk without any problem at all. There's a lot of books, user manual, or guidebook that related to <%= subject %> PDF, such as</p>

			<p> Here is The Download Access For <strong><%= subject %></strong>, Click Link Below to Download or Read Online:<br/> </p>

			 <center><a href="<%= utils.landingPageURL(baseURL, config, subject) %>" class="button special big">Download <%= subject %>.PDF</a></center>
		</section>
	</div>

	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<!-- Copyright -->
			<div class="copyright">
				<%- utils.sitemapFooterBlock(config) %>
			</div>

		</div>
	</div>
	<%- utils.histats(config) %>
</body>
</html>