<% var site_title = config.title.replace(/\$name/ig, config.name) %>
<% var spin = ['browsing', 'looking', 'searching'] %>
<!DOCTYPE HTML>
<html>
<head>
	<title><%= subject %>.pdf | <%= host %></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
	<!--[if lte IE 8]><script src="<%= baseURL %>/<%= config.template %>/js/html5shiv.js"></script><![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript">var template = '<%= baseURL %>/<%= config.template %>/'</script>
	<script src="<%= baseURL %>/<%= config.template %>/js/skel.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/skel-panels.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/skel-noscript.css" />
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/style.css" />
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/style-desktop.css" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/ie/v8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/ie/v9.css" /><![endif]-->
</head>
<body class="homepage">

	<!-- Header -->
	<div id="header">
		<div class="container"> 

			<!-- Logo -->
			<div id="logo">
				<h1><a href="#"><%= site_title %></a></h1>
			</div>
		</div>
	</div>

	<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row"> 

				<!-- Content -->
				<div id="content" class="8u skel-cell-important">
					<section>
						<header>
							<h2 style="line-height: normal"><%= subject %></h2>
							<span class="byline"><%= uniqueCode %> | PDF : <%= fakeTotalPage %> | File Size  <%= fileSize %> | <%= uniqueDate %></span>
						</header>
						
						<p>Are you <%= spin[title.length%3] %> for <%= subject %> Books? Now, you will be happy that at this time <%= subject %> PDF is available at our online library. With our complete resources, you could find <%= subject %> PDF or just found any kind of Books for your readings everyday.</p>
						<p>You could find and download any books you like and save it into your disk without any problem at all. There's a lot of books, user manual, or guidebook that related to <%= subject %> PDF, such as</p>
						<p>Here is The Download Access For <strong><%= subject %></strong>, Click Link Below to Download or Read Online:</p>
						<center><a href="<%= utils.landingPageURL(baseURL, config, subject) %>" class="button special big">Download <%= subject %>.PDF</a></center>
					</section>
				</div>

				<!-- Sidebar -->
				<div id="sidebar" class="4u">
					<section>
						<header>
							<h2>Pellentesque vulputate</h2>
						</header>
						<ul class="style">
							<li>
								<p class="posted">August 11, 2002  |  (10 )  Comments</p>
								<img src="<%= baseURL %>/<%= config.template %>/images/pic04.jpg" alt="" />
								<p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
							</li>
							<li>
								<p class="posted">August 11, 2002  |  (10 )  Comments</p>
								<img src="<%= baseURL %>/<%= config.template %>/images/pic05.jpg" alt="" />
								<p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
							</li>
							<li>
								<p class="posted">August 11, 2002  |  (10 )  Comments</p>
								<img src="<%= baseURL %>/<%= config.template %>/images/pic06.jpg" alt="" />
								<p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="4u">
					<section>
						<h2>Latest Posts</h2>
						<ul class="default">
							<li><a href="#">Pellentesque lectus gravida blandit</a></li>
							<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
							<li><a href="#">Phasellus nibh pellentesque congue</a></li>
							<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
							<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
						</ul>
					</section>
				</div>
				<div class="4u">
					<section>
						<h2>Ultrices fringilla</h2>
						<ul class="default">
							<li><a href="#">Pellentesque lectus gravida blandit</a></li>
							<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
							<li><a href="#">Phasellus nibh pellentesque congue</a></li>
							<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
							<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
						</ul>
					</section>
				</div>
				<div class="4u">
					<section>
						<h2>Aenean elementum</h2>
						<ul class="default">
							<li><a href="#">Pellentesque lectus gravida blandit</a></li>
							<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
							<li><a href="#">Phasellus nibh pellentesque congue</a></li>
							<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
							<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			<%- utils.sitemapFooterBlock(config) %>
		</div>
	</div>
	<%- utils.histats(config) %>
</body>
</html>