<% var site_title = config.title.replace(/\$name/ig, config.name) %>
<% var spin = ['browsing', 'looking', 'searching'] %>
<!DOCTYPE HTML>
<html>
<head>
	<title><%= subject %>.pdf | <%= host %></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript">var template = '<%= baseURL %>/<%= config.template %>/'</script>
	<script src="<%= baseURL %>/<%= config.template %>/js/skel.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/skel-panels.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/skel-noscript.css" />
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/style.css" />
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/style-desktop.css" />
	</noscript>
</head>
<body class="homepage">

	<!-- Header -->
	<div id="header">
		<div id="nav-wrapper"> 
			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="active"><a href="/">Homepage</a></li>
				</ul>
			</nav>
		</div>
		<div class="container"> 

			<!-- Logo -->
			<div id="logo">
				<h1><a href="#"><%= site_title %></a></h1>
			</div>
		</div>
	</div>

	<!-- Featured -->
	<div id="featured">
		<div class="container">
			<header>
				<h2><%= subject %></h2>
			</header>
			<p><%= uniqueCode %> | PDF : <%= fakeTotalPage %> | File Size  <%= fileSize %> | <%= uniqueDate %></p>
			<hr />
			<p>Are you <%= spin[title.length%3] %> for <%= subject %> Books? Now, you will be happy that at this time <%= subject %> PDF is available at our online library. With our complete resources, you could find <%= subject %> PDF or just found any kind of Books for your readings everyday.</p>

			<p>You could find and download any books you like and save it into your disk without any problem at all. There's a lot of books, user manual, or guidebook that related to <%= subject %> PDF, such as</p>

			<p>Here is The Download Access For <strong><%= subject %></strong>, Click Link Below to Download or Read Online:<br/></p>

			<center><a href="<%= utils.landingPageURL(baseURL, config, subject) %>" class="button special big">Download <%= subject %>.PDF</a></center>
		</div>
	</div>

	<!-- Main -->
	<div id="main">
		<div id="content" class="container">

			<div class="row">
				<section class="6u">
					<a href="#" class="image full"><img src="<%= baseURL %>/<%= config.template %>/images/pic01.jpg" alt=""></a>
					<header>
						<h2>Mauris vulputate dolor</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>				
				<section class="6u">
					<a href="#" class="image full"><img src="<%= baseURL %>/<%= config.template %>/images/pic02.jpg" alt=""></a>
					<header>
						<h2>Mauris vulputate dolor</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>				
			</div>

			<div class="row">
				<section class="6u">
					<a href="#" class="image full"><img src="<%= baseURL %>/<%= config.template %>/images/pic03.jpg" alt=""></a>
					<header>
						<h2>Mauris vulputate dolor</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>				
				<section class="6u">
					<a href="#" class="image full"><img src="<%= baseURL %>/<%= config.template %>/images/pic04.jpg" alt=""></a>
					<header>
						<h2>Mauris vulputate dolor</h2>
					</header>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
				</section>				
			</div>
			
		</div>
	</div>

	<!-- Tweet -->
	<div id="tweet">
		<div class="container">
			<section>
				<blockquote>&ldquo;In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat.&rdquo;</blockquote>
			</section>
		</div>
	</div>

	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<section>
				<header>
					<h2>Get in touch</h2>
					<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
				</header>
				<%- utils.sitemapFooterBlock(config) %>
				<ul class="contact">
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
				</ul>
			</section>
		</div>
	</div>

	<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
		</div>
	</div>
	<%- utils.histats(config) %>
</body>
</html>