<% var site_title = config.title.replace(/\$name/ig, config.name) %>
<% var spin = ['browsing', 'looking', 'searching'] %>
<!DOCTYPE HTML>
<html>
<head>
	<title><%= subject %>.pdf | <%= host %></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="<%= baseURL %>/<%= config.template %>/assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/assets/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/assets/css/ie9.css" /><![endif]-->
</head>
<body class="landing">

	<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="/"><%= site_title %></a></h1>
		<a href="#nav">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="nav">
		<ul class="links">
			<li><a href="/">Home</a></li>
		</ul>
	</nav>

	<!-- Banner -->
	<section id="banner">
		<i class="icon fa-diamond"></i>
		<h2><%= subject %></h2>
		<p><%= uniqueCode %> | PDF : <%= fakeTotalPage %> | File Size  <%= fileSize %> | <%= uniqueDate %></p>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper special">
		<div class="inner">
			<header class="major narrow">
				<h2><%= subject %></h2>
			</header>

			<p><strong><%= subject %>.PDF</strong> - Are you <%= spin[title.length%3] %> for <%= subject %> Books? Now, you will be happy that at this time <%= subject %> PDF is available at our online library. With our complete resources, you could find <%= subject %> PDF or just found any kind of Books for your readings everyday.</p>

			<p>You could find and download any books you like and save it into your disk without any problem at all. There's a lot of books, user manual, or guidebook that related to <%= subject %> PDF, such as</p>

			<p> Here is The Download Access For <strong><%= subject %></strong>, Click Link Below to Download or Read Online:<br/> </p>

			<ul class="actions">
				<li><a href="<%= utils.landingPageURL(baseURL, config, subject) %>" class="button big alt">Download <%= subject %>.PDF</a></li>
			</ul>
		</div>
	</section>

	<!-- Four -->
	<section id="four" class="wrapper style2 special">
		<div class="inner">
			<header class="major narrow">
				<h2>Get in touch</h2>
				<p>Ipsum dolor tempus commodo adipiscing</p>
			</header>
			<form action="#" method="POST">
				<div class="container 75%">
					<div class="row uniform 50%">
						<div class="6u 12u$(xsmall)">
							<input name="name" placeholder="Name" type="text" />
						</div>
						<div class="6u$ 12u$(xsmall)">
							<input name="email" placeholder="Email" type="email" />
						</div>
						<div class="12u$">
							<textarea name="message" placeholder="Message" rows="4"></textarea>
						</div>
					</div>
				</div>
				<ul class="actions">
					<li><input type="submit" class="special" value="Submit" /></li>
					<li><input type="reset" class="alt" value="Reset" /></li>
				</ul>
			</form>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<%- utils.sitemapFooterBlock(config) %>
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook">
					<span class="label">Facebook</span>
				</a></li>
				<li><a href="#" class="icon fa-twitter">
					<span class="label">Twitter</span>
				</a></li>
				<li><a href="#" class="icon fa-instagram">
					<span class="label">Instagram</span>
				</a></li>
				<li><a href="#" class="icon fa-linkedin">
					<span class="label">LinkedIn</span>
				</a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; <%= site_title %>.</li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="<%= baseURL %>/<%= config.template %>/assets/js/jquery.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/assets/js/skel.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="<%= baseURL %>/<%= config.template %>/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="<%= baseURL %>/<%= config.template %>/assets/js/main.js"></script>
	<%- utils.histats(config) %>
</body>
</html>