<% var site_title = config.title.replace(/\$name/ig, config.name) %>
<% var spin = ['browsing', 'looking', 'searching'] %>
<!DOCTYPE HTML>
<html>
<head>
	<title><%= subject %>.pdf | <%= host %></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!--[if lte IE 8]><script src="<%= baseURL %>/<%= config.template %>/css/ie/html5shiv.js"></script><![endif]-->
	<script type="text/javascript">var template = '<%= baseURL %>/<%= config.template %>/'</script>
	<script src="<%= baseURL %>/<%= config.template %>/js/jquery.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/jquery.dropotron.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/skel.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/skel-layers.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/skel.css" />
		<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/style.css" />
	</noscript>
	<style>.white a{color:white;}</style>
	<!--[if lte IE 8]><link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/css/ie/v8.css" /><![endif]-->
</head>
<body class="homepage">

	<!-- Header Wrapper -->
	<div class="wrapper style1">

		<!-- Header -->
		<div id="header">
			<div class="container">

				<!-- Logo -->
				<h1><a href="/" id="logo"><%= site_title %></a></h1>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="/">Home</a></li>
						<li>
							<a href="">Dropdown</a>
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Magna phasellus</a></li>
								<li><a href="#">Etiam dolore nisl</a></li>
								<li>
									<a href="">Phasellus consequat</a>
									<ul>
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">Phasellus consequat</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li>
								<li><a href="#">Veroeros feugiat</a></li>
							</ul>
						</li>
					</ul>
				</nav>

			</div>
		</div>

		<!-- Banner -->
		<div id="banner">
			<section class="container">
				<h2 style="line-height: normal"><%= subject %></h2>
				<span>by <%= fakeAuthor %></span>
				<p><%= uniqueCode %> | PDF : <%= fakeTotalPage %> | File Size  <%= fileSize %> | <%= uniqueDate %></p>
			</section>
		</div>

	</div>

	<!-- Section One -->
	<div class="wrapper style2">
		<section class="container">
			<div class="row">
				<div class="12u">
					<header class="major">
						<h2><%= subject %></h2>
						<p><strong><%= subject %>.PDF</strong> - Are you <%= spin[title.length%3] %> for <%= subject %> Books? Now, you will be happy that at this time <%= subject %> PDF is available at our online library. With our complete resources, you could find <%= subject %> PDF or just found any kind of Books for your readings everyday.</p>

			<p>You could find and download any books you like and save it into your disk without any problem at all. There's a lot of books, user manual, or guidebook that related to <%= subject %> PDF, such as</p>

			<p> Here is The Download Access For <strong><%= subject %></strong>, Click Link Below to Download or Read Online:<br/> </p>

			 <center><a href="<%= utils.landingPageURL(baseURL, config, subject) %>" class="button special big">Download <%= subject %>.PDF</a></center>
					</header>
				</div>
			</div>
		</section>
	</div>
	<!-- Footer -->
	<div id="footer">
		<section class="container">
			<header class="major">
				<h2>Connect with us</h2>
				<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
			</header>
			<ul class="icons">
				<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
				<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
				<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
				<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
			</ul>
			<hr />
		</section>

		<!-- Copyright -->
		<div id="copyright">
			<%- utils.sitemapFooterBlock(config) %>
		</div>			
	</div>
	<%- utils.histats(config) %>
</body>
</html>