<% var site_title = config.title.replace(/\$name/ig, config.name) %>
<!DOCTYPE HTML>
<html>
	<head>
		<title><%= site_title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="./<%= config.template %>/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="./<%= config.template %>/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="./<%= config.template %>/assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<div class="inner split">
					<section>
						<h2><%= site_title %></h2>
					</section>
					<section>
						<p>Lorem ipsum nisl sed cursus magna et amet veroeros. Phasellus aliquam et tempus lorem dolor feugiat adipiscing lorem.</p>
						<ul class="actions">
							<li><a href="#" class="button special">Get started</a></li>
						</ul>
					</section>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner split">
					<section>
						<h2>Magna feugiat adipiscing</h2>
						<p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus aliquam et tempus lorem feugiat adipiscing lorem. Morbi pharetra vitae felis placerat pharetra. Nulla risus orci, dapibus id malesuada et nec, malesuada quis orci. Pellentesque eget consequat.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Learn more</a></li>
						</ul>
					</section>
					<section>
						<ul class="checklist">
							<li>Ipsum nisl sed cursus magna</li>
							<li>Amet veroeros sed aliquam consequat</li>
							<li>Tempus lorem adipiscing et lorem</li>
							<li>Morbi pharetra vitae felis placerat</li>
							<li>Pharetra nulla risus orci dapibus</li>
						</ul>
					</section>
				</div>
			</section>
			
			<section class="wrapper">
				<div class="inner">
					<section>
						<%- utils.randomSubdomain(config, host) %>
						<%- utils.showRandomKeywords(config, keywords) %>
					</section>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 alt">
				<div class="inner">
					<div class="spotlight">
						<div class="image">
							<img src="./<%= config.template %>/images/pic01.jpg" alt="" />
						</div>
						<div class="content">
							<h3>Ipsum pharetra tempus</h3>
							<p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Details</a></li>
							</ul>
						</div>
					</div>
					<div class="spotlight">
						<div class="image">
							<img src="./<%= config.template %>/images/pic02.jpg" alt="" />
						</div>
						<div class="content">
							<h3>Magna consequat felis</h3>
							<p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Details</a></li>
							</ul>
						</div>
					</div>
					<div class="spotlight">
						<div class="image">
							<img src="./<%= config.template %>/images/pic03.jpg" alt="" />
						</div>
						<div class="content">
							<h3>Vitae placerat adipiscing</h3>
							<p>Lorem ipsum nisl sed cursus magna et amet veroeros. Sed phasellus malesuada quis orci. Pellentesque eget consequat.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Details</a></li>
							</ul>
						</div>
					</div>
					<ul class="actions special">
						<li><a href="#" class="button alt">Ipsum magna tempus</a></li>
					</ul>
				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="wrapper">
				<div class="inner split">
					<section>
						<h2>Orci malesuada</h2>
						<p>Morbi pharetra vitae felis placerat pharetra. Nulla risus orci, dapibus id malesuada et nec, malesuada quis pellentesque eget.</p>
						<form action="#" class="alt" method="POST">
							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text">
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email">
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
 								</div>
 							</div>
 							<ul class="actions">
 								<li><input class="alt" value="Send message" type="submit"></li>
 							</ul>
 						</form>
					</section>
					<section>
						<ul class="contact">
							<li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
							<li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
							<li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
							<li class="fa-envelope"><a href="#">information@untitled.tld</a></li>
							<li class="fa-home">1234 Somewhere Road Suite 9823<br/>Nashville, TN 00000-0000</li>
						</ul>
					</section>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<%- utils.sitemapFooterBlock(config) %>
					<br />
					&copy; <%= site_title %>. All rights reserved. Images: <a href="http://unsplash.com">Unsplash</a>. Design: <a href="http://templated.co">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./<%= config.template %>/assets/js/jquery.min.js"></script>
			<script src="./<%= config.template %>/assets/js/skel.min.js"></script>
			<script src="./<%= config.template %>/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="./<%= config.template %>/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="./<%= config.template %>/assets/js/main.js"></script>
	<%- utils.histats(config) %>
	</body>
</html>