<% var site_title = config.title.replace(/\$name/ig, config.name) %>
<% var spin = ['browsing', 'looking', 'searching'] %>
<!DOCTYPE HTML>
<html>
<head>
	<title><%= subject %>.pdf | <%= host %></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="<%= baseURL %>/<%= config.template %>/assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="<%= baseURL %>/<%= config.template %>/assets/css/ie9.css" /><![endif]-->
</head>
<body>

	<!-- Banner -->
	<section id="banner">
		<div class="inner split">
			<section>
				<h2><%= subject %></h2>
			</section>
			<section>
				<p><%= uniqueCode %> | PDF : <%= fakeTotalPage %> | File Size  <%= fileSize %> | <%= uniqueDate %></p>
			</section>
		</div>
	</section>

	<!-- One -->
	<section id="one" class="wrapper">
		<div class="inner">
			<section>
				<p><strong><%= subject %>.PDF</strong> - Are you <%= spin[title.length%3] %> for <%= subject %> Books? Now, you will be happy that at this time <%= subject %> PDF is available at our online library. With our complete resources, you could find <%= subject %> PDF or just found any kind of Books for your readings everyday.</p>

				<p>You could find and download any books you like and save it into your disk without any problem at all. There's a lot of books, user manual, or guidebook that related to <%= subject %> PDF, such as</p>

				<p> Here is The Download Access For <strong><%= subject %></strong>, Click Link Below to Download or Read Online:<br/> </p>

				 <center><a href="<%= utils.landingPageURL(baseURL, config, subject) %>" class="button special big">Download <%= subject %>.PDF</a></center>
			</section>
		</div>
		</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="copyright">
			<%- utils.sitemapFooterBlock(config) %>
			<br />
			&copy; <%= site_title %>. All rights reserved. Images: <a href="http://unsplash.com">Unsplash</a>. Design: <a href="http://templated.co">TEMPLATED</a>.
		</div>
	</footer>

	<!-- Scripts -->
	<script src="<%= baseURL %>/<%= config.template %>/assets/js/jquery.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/assets/js/skel.min.js"></script>
	<script src="<%= baseURL %>/<%= config.template %>/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="<%= baseURL %>/<%= config.template %>/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="<%= baseURL %>/<%= config.template %>/assets/js/main.js"></script>
	<%- utils.histats(config) %>
</body>
</html>